[user]
	name = Ashish Kumar
	email = ashish@ashish.co
[core]
	editor = subl
	excludesfile = /Users/Ashish/.gitignore_global
[mergetool]
	prompt = false
[diff]
	renames = copies
	tool = Kaleidoscope
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[push]
	default = current
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[alias]
	amend = commit --amend --reuse-message=HEAD
	c = commit -m
	co = checkout
	d = difftool
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
	s = status -sb
[credential]
	helper = osxkeychain
[github]
	user = ashishkumar
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
