"*":
  core:
    disabledPackages: [
      "archive-view"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "dev-live-reload"
      "exception-reporting"
      "incompatible-packages"
      "link"
      "markdown-preview"
      "metrics"
      "package-generator"
      "spell-check"
      "styleguide"
      "timecop"
      "welcome"
      "wrap-guide"
      "whitespace"
    ]
  editor:
    invisibles:
      eol: " "
    showInvisibles: true
  "exception-reporting":
    userId: "5933e6f3-2312-f159-fa30-02a1f1c8225f"
  welcome:
    showOnStartup: false
