"*":
  core:
    disabledPackages: [
      "archive-view"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "dev-live-reload"
      "exception-reporting"
      "incompatible-packages"
      "link"
      "markdown-preview"
      "metrics"
      "package-generator"
      "spell-check"
      "styleguide"
      "timecop"
      "welcome"
      "wrap-guide"
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Courier Prime Code"
    fontSize: 12
    invisibles:
      eol: " "
  "exception-reporting":
    userId: "5933e6f3-2312-f159-fa30-02a1f1c8225f"
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "one-light-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
