"*":
  "base16-syntax":
    scheme: "Google"
    style: "Light"
  core:
    disabledPackages: [
      "welcome"
      "whitespace"
      "package-generator"
      "metrics"
      "autoflow"
      "autosave"
      "background-tips"
      "deprecation-cop"
      "dev-live-reload"
      "encoding-selector"
      "release-notes"
      "styleguide"
      "wrap-guide"
      "about"
      "archive-view"
      "exception-reporting"
      "keybinding-resolver"
      "markdown-preview"
      "link"
      "notifications"
      "snippets"
      "spell-check"
      "symbols-view"
      "update-package-dependencies"
      "timecop"
      "autocomplete-snippets"
      "dash"
      "language-scala"
      "language-swift"
      "bookmarks"
      "editorconfig"
      "language-haml"
      "status-bar"
      "minimap"
      "minimap-git-diff"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".sass-cache"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "SF Mono"
    fontSize: 12
    fontWeight: "Medium"
    invisibles:
      eol: " "
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
  "exception-reporting":
    userId: "b92ca551-61bf-678d-277a-6ee968fa95ef"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "one-light-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "package-sync": {}
  "status-bar": {}
  tabs:
    showIcons: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".haml.text":
  editor:
    softWrapHangingIndent: 4
".hamlc.text":
  editor:
    softWrapHangingIndent: 4
".ini.source":
  editor:
    softWrapHangingIndent: 4
